body{
	background-image: linear-gradient(to right, #fff, #cef);
}

h1{
	color: #007;
	font-size: 42pt;
	font-family: "Lucida Handwriting";
	text-align: center;
}

#main{
	display: flex;
	justify-content:space-around;
	margin: 5%;
}

#stats{
	border-collapse: collapse;
	width: 40%;
}
#stats th, #stats td{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border: 1px solid #07f;	
}

#form{
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
}
#form th, #form td{
	padding-top: 7%;
	padding-bottom: 7%;
}

input[type=number], select{
	border: 1px solid #007;
	padding: 2%;
}

button{
	color: #fff;
	margin-left:auto;
	margin-right:auto;
	border-radius: 15px;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 75%;
}
#btn_return{
	background-color:#070;
}#btn_return:hover{
	background-color:#0a0;
	box-shadow:0 0 12px #0f0;
}
#btn_reset{
	background-color:#700;
}#btn_reset:hover{
	background-color:#a00;
	box-shadow:0 0 12px #f00;
}

.centered{text-align: center;}
.padded{padding-left: 3%;}
.borderless{border: 0;}